.userback{
    -fx-background-color:transparent;
}
.cineback{
    -fx-background-color:rgb(40, 56, 56);
}
.signoutbutton{
    -fx-background-color:rgb(22, 18, 27);
}
.signoutbutton:hover{
    -fx-background-color:rgb(113, 184, 231);
}
.bkground{
    -fx-background-image:url('../structure/A.jpg');
    -fx-background-size: 800px 550px; 
    -fx-background-repeat: no-repeat; 
    
}
.btn1{
    -fx-background-color:rgb(117, 177, 185);
    
}
.btn1:hover{
    -fx-background-color:rgb(61, 66, 68);
}
.btn2{
    -fx-background-color:rgb(117, 177, 185);
    
}
.btn2:hover{
    -fx-background-color:rgb(61, 66, 68);
}
.btn3{
    -fx-background-color:rgb(117, 177, 185);
    
}
.btn3:hover{
    -fx-background-color:rgb(61, 66, 68);
}
.btn4{
    -fx-background-color:rgb(117, 177, 185);
}
.btn4:hover{
    -fx-background-color:rgb(61, 66, 68);
}
.btn5{
    -fx-background-color:rgb(117, 177, 185);
    
}
.btn5:hover{
    -fx-background-color:rgb(61, 66, 68);
}
.btn6{
    -fx-background-color:rgb(117, 177, 185);
    
}
.btn6:hover{
    -fx-background-color:rgb(61, 66, 68);
}